/* VARIABLES */
:root {
  --brand-color: #3a40c3;
}

/* REUSABLE CODE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #333333;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 200%;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  word-spacing: 4px;
  letter-spacing: 2px;
}

h2 {
  display: block;
  font-weight: 400;
  font-size: 125%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 110%;
  font-weight: 400;
  display: inline-block;
  text-align: left;
  padding-bottom: 1 rem;
}

h2::after,
h3::after {
  display: block;
  height: 2px;
  background-color: var(--brand-color);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 1rem;
}

h3::after {
  margin-top: 0.5rem;
}


li {
  list-style-type: none;
}

.content-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-box p {
  padding-bottom: 12pt;
  line-height: 140%;
  text-align: left; 
}

@media (min-width: 576px) {
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 150%;
  }
  .content-box p {
    text-align: justify;
  }
}

/* Width */
.w-10 { width: 10% }
.w-20 { width: 20% }
.w-30 { width: 30% }
.w-40 { width: 40% }
.w-50 { width: 50% }
.w-60 { width: 60% }
.w-70 { width: 70% }
.w-80 { width: 80% }
.w-90 { width: 90% }
.w-100 { width: 100% }

/* NAVBAR */
.main-nav {
  padding-top: 4%;
  padding-left: 0;
}

.main-nav li {
  display: inline-block;
  text-align: center;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 3px solid transparent;
  padding: 8px 0;
  transition: all 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 3px solid var(--brand-color);
  font-size: 115%;
  transition: all 0.3s;
}

@media (max-width: 576px) {
  .main-nav {
    padding-top: 2%;
  }

  .main-nav li {
    padding-top: 2%;
  }
}

/* HEADER */
@media (min-width: 1367px) {
  .main-header {
    background-image: linear-gradient(to top, #000000bb, #000000ee), url("img/cover-lg.jpg");
  }
}

@media (max-width: 1366px) {
  .main-header {
    background-image: linear-gradient(to top, #000000bb, #000000ee), url("img/cover-md.jpg");
  }
}

.main-header h1:last-of-type {
  font-size: 150%;
  color: #cccccc;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.main-header {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.cover-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-it {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--brand-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--brand-color);
  }
}

/* ABOUT */

#about img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100%;
  max-width: 360px;
  height: auto;
}

/* SKILLS */

.skill-section {
  background-color: #f0f0f0;
}

.skill-box {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem; 
  box-shadow: inset hoff voff blur #000;
  border-radius: 5px;
  background-color: #fff;
}

.skill-list li {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.skill-tittle {
  font-weight: bold;
}

.skill-bar {
  height: 25px;
  width: 100%;
  background-color: grey;
  border-radius: 6px;
}

.skill-progress {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--brand-color);
  height: 100%;
}

.big-icon { display: none}

@media (min-width: 576px) {
  .big-icon {
    margin-top: 2rem;
    line-height: 288px;
    display: block;
  }

}

.big-icon i {
  vertical-align: middle;
  text-align: center;
  font-size: 128px;
  width: 100%;
}