/* VARIABLES */
:root {
  --brand-color: #3a40c3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1,
h2 {
  font-weight: 300;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 150%;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 200%;
  }
}

h1 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #cccccc;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/* NAVBAR */
.main-nav {
  padding-top: 4%;
  padding-left: 0;
}

.main-nav li {
  display: inline-block;
  text-align: center;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 3px solid transparent;
  padding: 8px 0;
  transition: all 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 3px solid var(--brand-color);
  font-size: 115%;
  transition: all 0.3s;
}

/* HEADER */
header {
  background-image: linear-gradient(to top, #000000bb, #000000ee),  url('img/bg.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.cover-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-it {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--brand-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--brand-color ); }
}