/* VARIABLES */
:root {
  --brand-color: #3a40c3;
}

/* REUSABLE CODE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #333333;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 200%;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  word-spacing: 4px;
  letter-spacing: 2px;
}

h2 {
  font-size: 150%;
  color: #cccccc;
  word-spacing: 2px;
  letter-spacing: 1px;
}

h3 {
  display: block;
  font-weight: 400;
  font-size: 125%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-size: 110%;
  font-weight: 400;
}

h3::after,
h4::after {
  display: block;
  height: 2px;
  background-color: var(--brand-color);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 1rem;
}

h4::after {
  margin-top: 0.5rem;
}


li {
  list-style-type: none;
}

.content-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-box p {
  line-height: 140%;
  padding: 1rem;
  text-align: left; 
}

.big-icon {
  font-size: 300%;
  display: block;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--brand-color)
}


@media (min-width: 576px) {
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 180%;
  }
  .content-box p {
    text-align: justify;
  }
}

/* NAVBAR */
.main-nav {
  padding-top: 4%;
  padding-left: 0;
}

.main-nav li {
  display: inline-block;
  text-align: center;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 3px solid transparent;
  padding: 8px 0;
  transition: all 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 3px solid var(--brand-color);
  font-size: 115%;
  transition: all 0.3s;
}

@media (max-width: 576px) {
  .main-nav {
    padding-top: 2%;
  }

  .main-nav li {
    padding-top: 2%;
  }
}

/* HEADER */
@media (min-width: 1367px) {
  .main-header {
    background-image: linear-gradient(to top, #000000bb, #000000ee), url("img/cover-lg.jpg");
  }
}

@media (max-width: 1366px) {
  .main-header {
    background-image: linear-gradient(to top, #000000bb, #000000ee), url("img/cover-md.jpg");
  }
}


.main-header {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.cover-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-it {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--brand-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--brand-color);
  }
}

/* ABOUT */

#about img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100%;
  max-width: 360px;
  height: auto;
}

/* SKILLS */
#skills {
  margin-top: 2rem;
  background-color: #f2f2f2;
  padding-bottom: 2rem;
}

.card-box {
  margin-top: 2rem;
}

.skill-card {
  background-color: #fff;
  border-radius: 8px;
  padding-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.1);
}

.skill-card ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skill-card ul li {
  text-align: center;
}

.skill-card ul li::after {
  display: block;
  height: 1px;
  background-color: #ddd;
  content: " ";
  width: 50%;
  margin: 0.2rem auto;
}

.skill-card ul li:last-of-type::after {
  height: 0px;
}

.skill-card:hover {
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
  transition: all 0.5s;
}