.content {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, var(--max-width));
  padding: 88px var(--spacing-3) 278px var(--spacing-3);
}

.withHero {
  padding-top: 100vh;
}
