@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 800px);
  padding: 88px var(--spacing-3) 278px var(--spacing-3);
  animation-name: fadeIn;
  animation-duration: 1s;
}

.withHero {
  padding-top: 100vh;
}
