.container {
  display: grid;
  grid-gap: var(--spacing-3);
  width: 100%;
}

@for $i from 1 to 12 {
  .col_#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}

.col_md {
  @media (min-width: 600px) and (max-width: 1199.99px) {
    @for $i from 1 to 12 {
      &_#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}

.col_lg {
  @media (min-width: 1200px) {
    @for $i from 1 to 12 {
      &_#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}
