*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #005c97; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #363795,
    #005c97
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #363795,
    #005c97
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
  height: 100%;
}

html {
  font-family: Arial, sans-serif;
}

body {
  max-height: 100%;
  padding: 16px;
}

.header {
  color: #fff;
  padding: 2rem 0;
  margin: 0;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
}

.linkList {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.linkList__item {
  height: 3rem;
  width: 100%;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.linkList__item:not(:last-child) {
  margin-bottom: 1rem;
}

.linkList__anchor {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.linkList__icon {
  position: absolute;
  left: 16px;
  top: 12px;
  height: 24px;
  width: 24px;
  user-select: none;
}

.linkList__text {
  color: #fff;
  margin: 0;
  font-size: 1.25rem;
  line-height: 3rem;
  font-weight: bold;
  text-align: center;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.icon--github {
  background-image: url("./assets/img/github.svg");
}
.icon--instagram {
  background-image: url("./assets/img/instagram.svg");
}
.icon--twitter {
  background-image: url("./assets/img/twitter.svg");
}
.icon--linkedin {
  background-image: url("./assets/img/linkedin.svg");
}
.icon--portfolio {
  background-image: url("./assets/img/globe.svg");
}
