.grid {
  display: grid;
  grid-gap: var(--spacing-3);
}

.header,
.description {
  margin: var(--spacing-3) 0;
}

.header {
  font-size: var(--heading-2);
}

.description {
  font-size: var(--heading-5);
  color: var(--contrast-low);
}

.subHeader {
  font-size: var(--heading-3);
}
