*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

// Workarround, plugin was 'purging' the 'unused' id selector
body > div:first-child {
  position: relative;
  min-height: 100%;
}

html {
  font-size: 20px;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
