.postContainer {
  @media screen and (min-width: 600px) {
    grid-template-columns: minmax(20%, 128px) auto !important;
  }

  > :nth-child(1) {
    grid-row: 1 / span 2;
  }
}

.imgContainer {
  display: none;
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin: auto;

  @media screen and (min-width: 600px) {
    display: block;
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    border-radius: var(--spacing-1);
  }
}

.body {
  overflow: hidden;
  max-height: 128px;
}

.description,
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  font-size: 1;
  margin: 0 0 var(--spacing-0);
  -webkit-line-clamp: 2;

  @media screen and (min-width: 600px) {
    font-size: var(--heading-5);
  }
}

.description {
  font-size: 17px;
  margin: 0;
  -webkit-line-clamp: 3;
}
