.select {
  position: relative;
  padding: var(--spacing-1) var(--spacing-5) var(--spacing-1) var(--spacing-3);
  border-radius: var(--spacing-5);
  background-color: var(--white);
  appearance: none;

  background-image: linear-gradient(
      45deg,
      var(--base-high) 0px,
      var(--base-high) 8px,
      transparent 0px
    ),
    linear-gradient(
      -45deg,
      var(--base-high) 0px,
      var(--base-high) 8px,
      transparent 0px
    ),
    linear-gradient(to left, var(--contrast), var(--contrast));
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: top 14px right var(--spacing-2);
}
