.footer {
  display: grid;
  margin: auto;
  justify-content: center;
  justify-items: center;
  grid-template-columns: minmax(auto, var(--max-width));
  grid-gap: var(--spacing-4);
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: var(--spacing-4) var(--spacing-2) 0 var(--spacing-2);
  background-color: var(--accent);
  color: var(--white);
}

.socialLinks {
  display: grid;
  grid-gap: var(--spacing-2);
  grid-template-columns: repeat(3, auto);

  a {
    width: 48px;
    height: 48px;
    padding: 8px;
    font-size: 0px;
    transition: color 0.2s ease, transform 0.2s ease;
  }

  svg {
    fill: var(--base);
    width: 32px;
    height: 32px;
  }
}

.waves {
  position: absolute;
  bottom: 193px;
  path {
    fill: var(--accent);
  }
}

.copyright {
  padding: var(--spacing-2);
  text-align: center;
}
