.skills {
  position: relative;
  overflow: hidden;
  background-color: #282c34;
  padding: var(--spacing-4);
  border-radius: var(--spacing-1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react {
  font-size: 10rem;
  color: #61dafb;
  animation: spin 64s linear infinite;
}

.reactBack {
  color: #32363e;
  position: absolute;
  animation-duration: 256s;
  font-size: 20rem;
  right: -5rem;
  bottom: -5rem;
  transform: translate(50% 50%);
}
