.container {
  display: grid;
  margin-top: var(--spacing-5);
  gap: var(--spacing-3);

  .card {
    gap: var(--spacing-1);
  }
}

.header {
  display: grid;
  grid-template-columns: auto 32px 32px;
  gap: var(--spacing-1);
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
  padding: var(--spacing-0);
  transition: color 300ms, transform 300ms;

  &:hover {
    color: var(--primary-light);
    transform: scale(1.1);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: var(--heading-4);
  margin: 0;
}
